{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    {% if messages %}
                        <div style="margin-top: 2em">
                            {% bootstrap_messages %}
                        </div>
                    {% endif %}

                    <h3>Success! You're almost there&hellip;</h3>

                    <p class="lead">A couple more steps and we'll have you on your way:</p>

                    <ol>
                        <li><strong>Check your email</strong>, you should have an invitation to join our Slack channel
                            where hundreds of volunteers are working on this project across the country!
                            (Note: if you're new to Slack, you can <a href="https://slack.com/is" target="_blank">take the tour</a>, or <a href="https://slack.com/downloads" target="_blank">download the Slack
                            client</a>)</li>
                        <li>You're now logged into our research system, so <strong>watch these intro videos</strong> for
                            a walkthrough of the project, and how to use our software, then we can get
                            started!</li>
                    </ol>

                    <h4>Sound good? Watch the walkthrough here:</h4>

                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3fayzHTokrg" allowfullscreen="true"></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QzGYSR4Q_Dw" allowfullscreen="true"></iframe>
                    </div>

                    <p>And once you're ready, click the enormous button below to get started:</p>

                    <a href="/admin/" class="btn btn-lg btn-blue btn-block" style="margin-bottom: 3em">I'm ready! Let's get on with the research &rarr;</a>

                </div>
            </div>
        </div>
    </section>

{% endblock %}