// Global
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 400px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  p {
    font-size: 16px;
  }

  @include until($medium) {
    padding-top: 50px;
  }
}

.twitter-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('../img/twitter-icon.svg');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  @include text-indent();
}

.facebook-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('../img/facebook-icon.svg');
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  @include text-indent();
}
