// Global
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 400px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  p {
    font-size: 16px;
  }
}

h1, h2 {
  font-weight: 900;
}

.bg-blue-or {
  background: $blue;
}

.btn-uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.banner {
  background: $blue;
  color: white;
  // font-weight: bolder;
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .beta {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
}

// add wider widths to bootstrap containers
@media (min-width: 1400px) {
  .container--lg {
    width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container--lg {
    width: 1570px;
  }
}

.twitter-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('../img/twitter-icon.svg');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  @include text-indent();
}

.facebook-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('../img/facebook-icon.svg');
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  @include text-indent();
}

.detail__header {
  position: relative;
}

.detail__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  a {
    color: white;
    text-decoration: none;
  }
}

.detail__information {

}

.detail__heading {
  font-weight: bolder;
}

.detail__section {
  background: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  
  h3 {
    &:last-child{
      margin-bottom: 0;
    }
  }
  
  p {
    &:last-child{
      margin-bottom: 0;
    }
  }
}

// Landing Page
.flag-bg {
  background: #177bff url('../img/main-bg.png') no-repeat left center;
}

.fs18 {
  font-size: 18px;
}

.learn-more-bar {
  background: #f5f5f5;
  display: block;
  color: #333;
  text-transform: none;
  padding: 3rem 0;
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  transition: 0.25s;
  
  .glyphicon {
    top: 6px;
  }
}
