// Global
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 400px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  p {
    font-size: 16px;
  }
}

.banner {
  background: $blue;
  color: white;
  // font-weight: bolder;
  
  a {
    color: white;
    text-decoration: none;
  }
}

.twitter-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('../img/twitter-icon.svg');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  @include text-indent();
}

.facebook-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('../img/facebook-icon.svg');
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  float: left;

  &:hover {
    opacity: 0.8;
  }

  @include text-indent();
}

.detail__header {
  position: relative;
}

.detail__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.detail__information {

}

.detail__heading {
  font-weight: bolder;
}

.detail__section {
  background: white;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  
  h3 {
    &:last-child{
      margin-bottom: 0;
    }
  }
  
  p {
    &:last-child{
      margin-bottom: 0;
    }
  }
}
