<div class="col-md-6 col-md-offset-3">
  <div class="pa4 mt4 mb5 br3 bg-white">
    <h1 class="fw7 mt0">We're not there yet.</h3>
    <p>Sanctuary is an ongoing research project, and we're adding more data every day.</p>
    
    <p class="pb3"><strong>Want to help?</strong> Let us know at <a href="mailto:sanctuary@ourrevolution.com?Subject={{'I want to help' | urlencode }}">sanctuary@ourrevolution.com</a></p>
    
    <a href="/" class="btn btn-primary btn-block btn-lg"><strong>Back to the Map</strong></a>
  </div>
</div>
