<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block page_title %}Sanctuary Cities{% endblock %}</title>

	<!--  TODO: Optimize all of this -->

	<!--  Tachyons -->
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>

	<!-- Our Revolootstrap -->
	{% load sass_tags %}
	<link rel="stylesheet" href="{% sass_src "scss/main.scss" %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	
	<!-- OR Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	
	<!-- Leaflet -->
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	
	<!-- Esri Leaflet Plugin -->
	<script src="https://unpkg.com/esri-leaflet@2.0.7"></script>
	
	<!-- jQuery -->
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
	
	<!-- Sanctuary App -->
	{% load static %}
	<script src="{% static "js/sanctuary.js" %}"></script>
	<script src="{% static "js/vendor/smooth-scroll.min.js" %}"></script>
	
		
	{% block extra_head %}
	{% endblock %}
</head>
<body>

	{% include "partials/banner.html" %}

  {% include "partials/nav.html" %}

	{% block content %}
	{% endblock %}

  {% include "partials/footer.html" %}

	<!-- Load Javascript Libraries that we don't need initially -->
	
	<!--  Places Libary for Autocomplete -->
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBbScgtw3tU0lX4OG1Ga_JW85Gqpwu0RmA&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>
