{% extends "base.html" %}

{% block content %}
    {% block pre_map %}
    {% endblock %}

    <div class="app">
    
      <div class="app__info col-sm-4 ba b--black-10 pa0">
        <div class="pa3 bg-light-gray bb b--black-10">
          <input type="search" class="form-control maps-auto-complete" placeholder="Zip Code, City, or Address">
        </div>
      </div>
      
      <div class="app__map col-sm-8" id="map"></div>
    
    </div>
    
    <script>

        // todo: might want a different mobile view.
        var map = L.map('map').setView([37.8, -96.9], 4);

        var mapboxToken = 'pk.eyJ1Ijoib3VycmV2b2x1dGlvbiIsImEiOiJjaXl4aWlrc3IwMDlzMzJycXJqejNmcTVnIn0.ufXFguXsHIg_J7z96ZTn7A';
        var baseLayer = L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=' + mapboxToken, {
            maxZoom: 18
          }
        ).addTo(map);


        {% block map_content %}
        {% endblock %}

    </script>
    
    <script>
  		addEventListener("load", function(e){
  		  var input = document.querySelector('.maps-auto-complete');
      
        $(input).on('submit', function() {
          console.log(this);
        })
        
        initAutoComplete();
      
        // Functions
        function initAutoComplete() {
          monitorAPI();
          
    		  autocomplete = new google.maps.places.Autocomplete(
    		    /** @type {!HTMLInputElement} */(input),
    		    {
    		      types: ['geocode'],
    		      componentRestrictions: {country: "us"}
    		    }
    		  );
          
          autocomplete.addListener('place_changed', getAddress);
        }
        
        function getAddress() {
          var geometry, place = autocomplete.getPlace();
          
          if (!place.geometry) {
            // TODO: Display this in .app__info
            console.log("We can't find that place - try again.");
            return;
          } else {
            geometry = [place.geometry.location.lat(),place.geometry.location.lng()]; 
            positionMap(geometry);
          }
        }
        
        function positionMap(geometry) {          
          map.flyTo(geometry, 12, {duration:1});
        }

        function monitorAPI() {
    		  var defaultPlaceholder = input.placeholder;

    		  setTimeout(function(){
            
    		  		input.value = '';
    		  		setInterval(function(){
                
    		  			if(input.placeholder.indexOf('Oops') != -1){

    		  				// undo Google grossness
    		  				input.placeholder = defaultPlaceholder;
    		  				input.removeAttribute('disabled');
    		  				input.removeAttribute('style');
    		  				input.classList.remove('gm-err-autocomplete');

    		  				// kill events
    		  				var clone = input.cloneNode(true);
    		  				input.parentNode.replaceChild(clone, input);
    		  			}
    		  		}, 200);
    		  }, 500);
        }
  		}, false);
  	</script>
    {% block post_map %}
    {% endblock %}
{% endblock %}
