{% extends "base.html" %}

{% block content %}
  {% block pre_map %}
  {% endblock %}

  <div class="app container container--lg">
    <div class="row">
      <div class="app-info ba b--black-10 pa0">
        <div class="app-info__search pa3 bg-light-gray bb b--black-10">
          <input type="search" class="form-control maps-auto-complete" placeholder="Zip Code, City, or Address" id="autocomplete">
        </div>
        
        <div class="app-info__status text-left">
          <p class="pa4">Browse our map of sanctuary community policies to find out what you can do in your area to help build communities where we all feel welcomed and safe.</p>
        </div>
      </div>
      
      <div class="app__map" id="map-container"></div>
    </div>
  </div>

  <script>
    var mapDiv = document.getElementById('map-container');
    sanctuary.init(mapDiv);
  </script>

  <script>
    {% block map_content%}
    {% endblock %}
  </script>

  {% block post_map %}
  {% endblock %}
{% endblock %}
