<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block page_title %}Sanctuary Cities{% endblock %}</title>

	<!--  Tachyons -->
	<!--  TODO: Compile into regular CSS -->
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>

	<!-- Our Revolootstrap -->
	{% load sass_tags %}
	<link rel="stylesheet" href="{% sass_src "scss/main.scss" %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

	<!-- Leaflet -->
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	
	<!-- OR Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	
	<script src="//apis.google.com/js/client.js"></script>

	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBbScgtw3tU0lX4OG1Ga_JW85Gqpwu0RmA&libraries=places" async defer></script>
	
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

	{% block extra_head %}
	{% endblock %}
</head>
<body>

	<div class="banner pa3 f3">
		<div class="container">
			<div class="row">
				<a href="https://ourrevolution.com" class="link dim white">< Back to Our Revolution</a> | <strong>Sanctuary Cities</strong>
			</div>
		</div>
	</div>

  {% include "partials/nav.html" %}

	<div class="container">
		<div class="row">
			{% block content %}
			{% endblock %}
		</div>
	</div>

  {% include "partials/footer.html" %}

</body>
</html>
