{% extends "base.html" %}

{% block content %}
  <div class="bg-blue-or flag-bg white pt6 pb6">
    <div class="container">
      <div class="row">
      
        <div class="col-md-5">
        
          <h1>We're creating communities that work for all of us.</h1>
          <p class="fs18">Browse our map of sanctuary communities and find out how you can get involved in your area to establish a place where all feel safe.</p>
          
          <a href="/map" class="btn btn-success btn-uppercase">Get Started</a>
        
        </div>
        <div class="col-md-8">
          <div class="intro-screenshot"></div>
        </div>

      </div>
    </div>
  </div>
  
  <a href="#resist" class="learn-more-bar"><span class="glyphicon glyphicon-chevron-down"></span></a>
  
  <div class="container" id="resist">
    <div class="row pt6 pb6">
      <div class="col-md-6">
        <h2>This administration wants to divide us - we’re not going to let that happen.</h2>
        <p>We have moved into an era of constant attack, where we must fight against hate, racism, homophobia, xenophobia, and sexism. Disorientation, fear, and pain are now an everyday reality for millions in our communities.</p>

        <p>Banning our Muslim brothers and sisters from entering the country; launching massive raids to deport, incarcerate, and separate millions of undocumented families; expanding private prisons to fill them up with more black and brown bodies; giving more power to local police to racially profile our communities.</p>

        <p>Every one of these actions has a common denominator: this administration wants to divide us. Based on our immigration status, our skin color, our religious affiliation, or our sexual identity.</p>

        <p>It is our job to resist. It is our job to say loud and clear: not on our watch. Not in my home. Not in my neighborhood. Not in my community. Not in my movement.</p>
      </div>
      
      <div class="col-md-6 bg-blue">
        
      </div>
      
    </div>
  </div>
  
  <div class="bg-near-white pt6 pb6">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>These attacks are coming from all branches of our federal government, and – because of that – we must:</h2>
        </div>
      </div>
        
      <div class="row">
        <div class="col-md-4 pa5">
          <div class="bg-blue white br3 pa4">
            <h3>1. Demand</h3>
            <p>Demand that local elected officials stand with us in defiance.</p>
          </div>
        </div>
        
        <div class="col-md-4 pa5">
          <div class="bg-blue white br3 pa4">
            <h3>2. Build</h3>
            <p>Build sanctuary communities where hospitals, schools, business owners, faith communities, neighborhoods, cities, counties and states are safe spaces for those under attack.</p>
          </div>
        </div>
        
        <div class="col-md-4 pa5">
          <div class="bg-blue white br3 pa4">
            <h2>3. Run</h3>
            <p>Run for office and replace elected officials who do not take meaningful action to resist the divisive attacks being perpetrated by this administration.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row pt6 pb6">
      <div class="col-md-8 col-md-offset-2">
        <h2>Join the fight.</h2>
        <p>We must fight to ensure that we ALL feel safe in our local communities – and it will require a focus on places and people many of us tend to ignore in our advocacy. There is no one-size-fits-all plan, and no law, legislator or national movement leader who will come save us. The responsibility lies with us and, we must start this work in our own backyards.</p>

        <p><strong>To get started, browse our map of community policy, and then find out how you can get involved in your community to make it a place where all feel safe.</strong></p>
        
        <a href="/map" class="btn btn-block btn-success btn-uppercase">Get Started</a>
      </div>
    </div>
  </div>
{% endblock %}
