{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="detail bw1 bl br bb b--light-gray bg-near-white">
        <div class="detail__header bg-blue pa4 pt6 white">  
          <div class="detail__back pa3 f3 bg-black-10">
            <div class="container">
              <div class="row">
                <a href="/map" class="link dim white">< Back to the Map</a>
              </div>
            </div>
          </div>

          <h1 class="fw7 mb0">{{ city.name }}, {{ city.state.name }}</h1>
        </div>
        
        <div class="detail__content clearfix mt4 pb3">
          {% if city.limited_ice_cooperation %}
          
            <div class="detail__overview col-md-4 mb4">
              <div class="card pa4 bg-white br3 mb4">
                <h2 class="fw7 mt0 bb b--light-gray bw1 pb3">Get Involved</h2>
                {% if city.local_effort_short_answer %}
                  {{ city.local_effort_short_answer|urlize|linebreaks }}
                  {% if city.local_effort_link %}<a href="{{city.local_effort_link}}" class="btn btn-primary btn-uppercase btn-block" target="_blank">{% if city.local_effort_cta_text %}{{city.local_effort_cta_text}}{% else %}Take Local Action{% endif %}</a>{% endif %}
                {% else %}
                  <p>We don't know of any ongoing local efforts to improve this city's policies, but you can join Our Resistance to help research sanctuary policy or be notified of action alerts in your area.</p>
                {% endif %}
                <a class="btn btn-success btn-block btn-uppercase mt4" href="https://go.ourrevolution.com/page/s/sanctuary-ourresistance-alerts?source=sanctuary-{{city.slug}}" target="_blank">Join Our Resistance</a>
              </div>
              
              <div class="card pa4 bg-white br3">  
                <h2 class="fw7 bb b--light-gray bw1 pb3 mt0">Policy Summary</h3>
                
                <ul class="f3 mr4 policy-list">
                  {% if city.limited_ice_cooperation == "yes-by-law" or city.limited_ice_cooperation == "yes-in-practice" %}
                    <li class="policy--good"><a href="#ice-cooperation">Limited cooperation with ICE</a></li>
                  {% elif city.limited_ice_cooperation == "unlimited" %}
                    <li class="policy--bad"><a href="#ice-cooperation">Cooperates with ICE</a></li>
                  {% endif %}
                  
                  {% if city.jails_honor_ice_detainers is not None %}
                    <li class="{{ city.jails_honor_ice_detainers|yesno:"policy--bad,policy--good"}}"><a href="#honor-detainers">City jails {{ city.jails_honor_ice_detainers|yesno:",do not"}} honor ICE detainers/notices</a></li>
                  {% endif %}
                  
                  {% if city.participate_287g_program is not None %}
                    <li class="{{ city.participate_287g_program|yesno:"policy--bad,policy--good"}}"><a href="#contracts">{{ city.participate_287g_program|yesno:"Participates,Does not participate"}} in the 287(g) program</a></li>
                  {% endif %}
                  
                  {% if city.isga is not None %}
                    <li class="{{ city.isga|yesno:"policy--bad,policy--good"}}"><a href="#igsa">City jails {{ city.isga|yesno:"have,do not have"}} an IGSA</a></li>
                  {% endif %}
                  
                  {% if city.provide_legal_representation is not None %}
                    <li class="{{ city.provide_legal_representation|yesno:"policy--good,policy--bad" }}"><a href="#legal-representation">{{ city.provide_legal_representation|yesno:"Provides,Does not provide" }} undocumented immigrants with legal representation in court</a></li>
                  {% endif %}
                  
                  {% if city.city_services is not None %}
                    <li class="{{ city.city_services|yesno:"policy--bad,policy--good" }}"><a href="#city-services">{{ city.city_services|yesno:"Asks,Does not ask" }} about immigration status when applying or accessing city services</a></li>
                  {% endif %}
                    
                  {% if city.drivers_license is not None %}
                    <li class="{{ city.drivers_license|yesno:"policy--good,policy--bad" }}"><a href="#drivers-license">Undocumented immigrants {{ city.drivers_license|yesno:"can,cannot" }} get driver's licenses</a></li>
                  {% endif %}
                  
                  {% if city.separate_form_of_id is not None %}
                    <li class="{{city.separate_form_of_id|yesno:"policy--good,policy--bad"}}"><a href="#alternate-id">{{city.separate_form_of_id|yesno:"Provides,Does not provide"}} form of ID if driver's licenses aren't available</a></li>
                  {% endif %}
                  
                  {% if city.police_use_body_cameras is not None %}
                    <li class="{{city.police_use_body_cameras|yesno:"policy--good,policy--bad"}}"><a href="#body-cameras">City police {{city.police_use_body_cameras|yesno:"use,do not use"}} body cameras</a></li>
                  {% endif %}
                  
                  {% if city.other_policies_and_services is not None %}
                    <li class="policy--good"><a href="#other-policies">Has implemented other policies more welcoming to immigrants, people of color, the LGBTQ community and religious minorities</a></li>
                  {% endif %}
                </ul>
              </div>
              
              {% if city.resources %}
                <div class="card pa4 bg-white br3 mb4 mt4">
                  <h2 class="fw7 bb b--light-gray bw1 pb3 mt0">Other Resources</h2>
                  {{city.resources|urlize|linebreaks}}
                </div>
              {% endif %}
            </div>
            
            <div class="detail__information col-md-8 pt0">  
              <!-- <div class="detail__section card" id="intro">
                <div class="detail__heading--no-border">
                  <h3>Welcome to Sanctuary</h3>
                </div>
                
                <div class="detail__description">
                  <p>Sanctuary is a volunteer-led research effort to document policy around the nation that contributes to the criminalization of people of color, police abuse and brutality, the expansion of private prisons, the entanglemnt of immigration and law enforcement, and the targeting of specific populations by the Trump administration.</p>
                  
                  <p>Browse the documented policy for {{city.name}}, {{city.state.name}} below, and then join a local push or volunteer for Our Revolution to expand sanctuary communites across the nation.</p>
                </div>
              </div> -->
              
              {% if city.limited_ice_cooperation is not None %}
                <div class="detail__section card {% if city.limited_ice_cooperation == "yes-by-law" or city.limited_ice_cooperation == "yes-in-practice" %}info--good{% elif city.limited_ice_cooperation == "unlimited" %}info--bad{% endif %}" id="ice-cooperation">
                  <div class="detail__heading">
                    <div class="detail__status">{% if city.limited_ice_cooperation == "yes-by-law" or city.limited_ice_cooperation == "yes-in-practice" %}Helpful{% elif city.limited_ice_cooperation == "unlimited" %}Harmful{% endif %}</div>
                    <h3>{{city.name}} {% if city.limited_ice_cooperation == "yes-by-law" or city.limited_ice_cooperation == "yes-in-practice" %}has{% elif city.limited_ice_cooperation == "unlimited" %}does not have{% endif %} policy/legislation that limits or prohibits cooperation with ICE.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.limited_ice_cooperation_short_answer and 'N/A' not in city.limited_ice_cooperation_short_answer %}{{ city.limited_ice_cooperation_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.limited_ice_cooperation_source %}
                    <div class="detail__source">Source: <a href="{{city.limited_ice_cooperation_source}}" target="_blank">{{city.limited_ice_cooperation_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              {% if city.jails_honor_ice_detainers is not None %}
                <div class="detail__section card {{city.jails_honor_ice_detainers|yesno:"info--bad, info--good"}}" id="honor-detainers">
                  <div class="detail__heading">
                    <div class="detail__status">{{city.jails_honor_ice_detainers|yesno:"Harmful, Helpful"}}</div>
                    <h3>{{city.name}} jails {{city.jails_honor_ice_detainers|yesno:"honor, do not honor"}} ICE detainers or notices.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.jails_honor_ice_detainers_short_answer is not None %}{{ city.jails_honor_ice_detainers_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.jails_honor_ice_detainers_source %}
                    <div class="detail__source">Source: <a href="{{city.jails_honor_ice_detainers_source}}" target="_blank">{{city.jails_honor_ice_detainers_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              {% if city.participate_287g_program is not None %}
                <div class="detail__section card {{city.participate_287g_program|yesno:"info--bad, info--good"}}" id="contracts">
                  <div class="detail__heading">
                    <div class="detail__status">{{city.participate_287g_program|yesno:"Harmful, Helpful"}}</div>
                    <h3>{{city.name}} {{city.participate_287g_program|yesno:"participates, does not participate"}} in the 287(g) program.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.participate_287g_program_short_answer is not None%}{{ city.participate_287g_program_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.participate_287g_program_source %}
                    <div class="detail__source">Source: <a href="{{city.participate_287g_program_source}}" target="_blank">{{city.participate_287g_program_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              {% if city.isga is not None %}
                <div class="detail__section card {{city.isga|yesno:"info--bad, info--good"}}" id="igsa">
                  <div class="detail__heading">
                    <div class="detail__status">{{city.isga|yesno:"Harmful, Helpful"}}</div>
                    <h3>{{city.name}} city jails {{city.isga|yesno:"have, do not have"}} an Intergovernmental Service Agreement (IGSA)</h3>
                  </div>
                  
                  <div class="detail__description">
                    <p>IGSAs are agreements between the federal government and a state or local government to provide detention beds in jails, prisons, and other local or state government detention facilities. While government owned, these facilities may be operated by either local or state agencies or by a private company in the business of providing detention services. Some of these facilities may even be dedicated for federal use.</p>
                    {% if city.isga_short_answer %}{{city.isga_short_answer|urlize}}{% endif %}
                  </div>
                  
                  {% if city.isga_source %}
                    <div class="detail__source">Source: <a href="{{city.isga_source}}" target="_blank">{{city.isga_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              {% if city.provide_legal_representation is not None %}
              <div class="detail__section card {{ city.provide_legal_representation|yesno:"info--good, info--bad" }}" id="legal-representation">           
                <div class="detail__heading">
                  <div class="detail__status">{{ city.provide_legal_representation|yesno:"Helpful, Harmful" }}</div> 
                  <h3>{{city.name}} {{ city.provide_legal_representation|yesno:"provides, does not provide" }} undocumented immigrants with legal representation in immigration court.</h3>
                </div>
                
                <div class="detail__description">
                  {% if city.provide_legal_representation_short_answer is not None %}{{ city.provide_legal_representation_short_answer|urlize }}{% endif %}
                </div>
                
                {% if city.provide_legal_representation_source %}
                  <div class="detail__source">Source: <a href="{{city.provide_legal_representation_source}}" target="_blank">{{city.provide_legal_representation_source}}</a></div>
                {% endif %}
              </div>
              {% endif %}
              
              {% if city.city_services is not None %}
                <div class="detail__section card {{ city.city_services|yesno:"info--bad, info--good" }}" id="city-services">
                  <div class="detail__heading">
                    <div class="detail__status">{{ city.city_services|yesno:"Harmful, Helpful" }}</div>          
                    <h3>{{city.name}} {{ city.city_services|yesno:"asks, does not ask" }} about immigration status when applying for or accessing certain city services like pools, library cards, local IDs or school registration.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.city_services_short_answer is not None %}{{ city.city_services_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.city_services_source %}
                    <div class="detail__source">Source: <a href="{{city.city_services_source}}" target="_blank">{{city.city_services_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              {% if city.separate_form_of_id is not None %}
                <div class="detail__section card {{city.separate_form_of_id|yesno:"info--good,info--bad"}}" id="alternate-id">            
                  <div class="detail__heading">
                    <div class="detail__status">{{city.separate_form_of_id|yesno:"Helpful,Harmful"}}</div>
                    <h3>{{city.separate_form_of_id|yesno:"Provides,Does not provide"}} alternate form of ID if driver's licenses aren't available.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.separate_form_of_id_short_answer is not None %}{{ city.separate_form_of_id_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.separate_form_of_id_source %}
                    <div class="detail__source">Source: <a href="{{city.separate_form_of_id_source}}" target="_blank">{{city.separate_form_of_id_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
                
              {% if city.police_use_body_cameras is not None %}
                <div class="detail__section card {{city.police_use_body_cameras|yesno:"info--good,info--bad"}}" id="body-cameras">
                  <div class="detail__heading">            
                    <div class="detail__status">{{city.police_use_body_cameras|yesno:"Helpful,Harmful"}}</div>
                    <h3>{{city.name}} city police {{city.police_use_body_cameras|yesno:"use,do not use"}} body cameras.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.police_use_body_cameras_short_answer is not None %}{{ city.police_use_body_cameras_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.police_use_body_cameras_source %}
                    <div class="detail__source">Source: <a href="{{city.police_use_body_cameras_source}}" target="_blank">{{city.police_use_body_cameras_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              {% if city.other_policies_and_services is not None %}
                <div class="detail__section card info--good" id="other-policies">
                  <div class="detail__heading"> 
                    <div class="detail__status">Helpful</div>      
                    <h3>{{city.name}} has implemented policies that make the city more welcoming to immigrants, people of color, the LGBTQ community and religious minorities.</h3>
                  </div>
                  
                  <div class="detail__description">
                    {% if city.other_policies_and_services_short_answer is not None %}{{ city.other_policies_and_services_short_answer|urlize }}{% endif %}
                  </div>
                  
                  {% if city.other_policies_source %}
                    <div class="detail__source">Source: <a href="{{city.other_policies_source}}" target="_blank">{{city.other_policies_source}}</a></div>
                  {% endif %}
                </div>
              {% endif %}
              
              <div class="detail__section card" id="disclaimer">                
                <p>While we strive to display accurate policy info, Sanctuary relies on research compiled daily by volunteers. Because of this, we cannot guarauntee the validity or compeleteness of all the information presented on this page.</p>
              </div>
            </div>
            
          {% else %}
            {% include "partials/no-data.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
