{% extends "base_map.html" %}

{% block map_content %}
  


		var states = [];

		{% for state in states %}

      sanctuary.paintGeoJson({{ state.geojson | safe }}, {
									"color": {% if state.limited_ice_cooperation == "yes-by-law" %}"#bf2"{% elif state.limited_ice_cooperation == "yes-in-practice" %}"#ff8"{% elif state.limited_ice_cooperation == "unlimited" %}"#f22"{% else %}"#bbb"{% endif %},
									"weight": 2,
									"fillOpacity": "0.5"
								});

		{% endfor %}
    
    {% for city in cities %}

      sanctuary.paintGeoJson({{ city.geojson | safe }}, {
                  "color": {% if city.jails_honor_ice_detainers == "yes-by-law" %}"#9d0"{% elif city.jails_honor_ice_detainers == "yes-in-practice" %}"#dd6"{% elif city.jails_honor_ice_detainers == "unlimited" %}"#d00"{% else %}"#999"{% endif %},
                  "weight": 2,
                  "fillOpacity": "0.5"
                });
		{% endfor %}
    
    {% for county in counties %}

      sanctuary.paintGeoJson({{ county.geojson | safe }}, {
                  "color": {% if county.jails_honor_ice_detainers == "yes-by-law" %}"#9d0"{% elif county.jails_honor_ice_detainers == "yes-in-practice" %}"#dd6"{% elif county.jails_honor_ice_detainers == "unlimited" %}"#d00"{% else %}"#999"{% endif %},
                  "weight": 2,
                  "fillOpacity": "0.5"
                });
		{% endfor %}


{% endblock %}
