{% extends "base_map.html" %}

{% block map_content %}


		var states = [], cities = [], counties = [], featureGroups = {};

    var data = [{{ states | safe }}, {{ counties | safe }}, {{ cities | safe }}]
			
		for (var i=0; i < data.length; i++) {
			$.each(data[i].features, function(feature) {
      
	      var color = sanctuary.getColor(this);
	      
				// if (i==0) {
				// 	var stripes = new L.StripePattern({
				// 		color: color,
				// 		spaceColor: color,
				// 		spaceOpacity: 0.5,
				// 		angle: 45
				// 	});
				// 	stripes.addTo(sanctuary.getMap()); 				
				// }
				// 
				
	      var feature = L.geoJson(this.geometry,
	        {
						"color": color,
						"weight": 2,
						"fillOpacity": "0.6"
					});
	               
        feature.properties = this.properties;
				
				if (i==1) {
					feature.properties.name += " County";
				}
				
        feature.bindTooltip('<h4>' + this.properties.name + '</h4>');
				
				if(i==0) {
	        states.push(feature);
				} else if (i==1) {
					counties.push(feature);
				} else {
					cities.push(feature);
				}
			});
		}		

    sanctuary.data = {
      states: L.featureGroup(states),
			counties: L.featureGroup(counties),
      cities: L.featureGroup(cities)
    }
    
    $.each(sanctuary.data, function(index) {	
      sanctuary.data[index].eachLayer(function(layer) {
        layer.on("click touchstart", function(e) {
					var bounds = layer.getBounds();
			    sanctuary.getMap().flyToBounds(bounds, 12, {duration:1});
					sanctuary.updateInfo([layer]);
				
					sanctuary.setActive(e.layer);
        });
				
				$(layer).hover(
					function(e) {
						$.each(e.target._layers, function() {
							if (sanctuary.getActive() != this._leaflet_id) {
								e.target.setStyle({"color":"#78a515"});
							}
						})
					}, function(e) {	
						$.each(e.target._layers, function() {
							if (sanctuary.getActive() != this._leaflet_id) {
								e.target.setStyle({"color":e.target.options.color});
							}
						})
					}
				);
      })
      

      
      sanctuary.addFeature(sanctuary.data[index]);
    })

{% endblock %}
